/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('https://cdn.hipwallpaper.com/i/48/96/xepk6D.jpg');
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}